html, body {
  margin:0;
  padding: 0;
}



.navegacao {
  background-color: whitesmoke;
  border-bottom: 5px solid rgba(0, 128, 0, 0.839);
  opacity: 80%;
  
}



 li a:hover {
  background-color: rgba(139, 248, 120, 0.388);
  border-bottom: 3px solid green;
  opacity: 80%;
  
}

.topoInfo {
    
    margin-top: 5rem;
    opacity: 80%;
    border-bottom: 2px solid green ;
    
}

.meioInfo {
  background-image: linear-gradient(rgba(218, 165, 32, 0.2),rgba(139, 248, 120, 0.388));
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  justify-content:center;
  margin-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid green;
  
}
.sliderText {
  text-align: center;
  margin-bottom: 1rem;
}
.cotacao {
  background-image: linear-gradient(rgba(218, 165, 32, 0.2),rgba(139, 248, 120, 0.1));
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 4rem;
  border-bottom: 1px solid rgba(0, 128, 0, 0.424);
  background-color: rgba(0, 128, 0, 0.123);
  
}

.rodape {
  height: 25rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem 2rem 2rem 2rem;
 background-color: whitesmoke;
 border-top: 5px solid green;
}

.tituloRodape{
  text-align: end;
  
}

.itensRodape {
  list-style: none;
  text-align: end;
}

.itensRodape li a{
  text-decoration: none;
  color: black;
  text-align: center;
}



.reservados{
  background-color: rgb(26, 84, 8);
  margin-bottom: 0;
}
.direitos {
  color: white;

}

/*CSS Destinos*/

.tituloPacotes{
  text-align: center;
  margin-top: 8rem;
}

.cardsDestino{
  
  background-color: rgb(26, 84, 8, 0.2);
  opacity: 80%;
  padding: 2rem 2rem 2rem 2rem;
}

/*CSS PAGINA CONTATO*/
.tituloContato {
  margin-top: 8rem;
  text-align: center;
}

.fundoImagem {
  background-image: linear-gradient(rgba(218, 165, 32, 0.499),rgba(139, 248, 120, 0.533));
  border-radius: 50px;
 
}

/*CSS PAGINA PROMOCOES*/

.cardsPromo {
  margin-top: 8rem;
}